@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full w-full;
  }

  body {
    @apply h-full w-full;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }
}

@layer components {
  .boton1 {
    @apply bg-blue-300 p-5 m-5;
  }

  .menu_header {
    @apply bg-gray-800 p-2 cursor-pointer text-center hover:bg-gray-900 text-white;
  }

  .menu_item {
    @apply p-3 cursor-pointer bg-gray-400 hover:bg-gray-500 text-white;
  }

  .dashboard_main {
    @apply bg-red-200 w-full h-full flex;
  }

  .dashboard_sidebar {
    @apply bg-white w-1/6;
  }

  .dashboard_center {
    @apply bg-gray-100 w-full h-full flex flex-col;
  }

  .dashboard_topbar {
    @apply bg-blue-400 w-full h-20 text-white p-3 flex flex-row-reverse
  }

  .dashboard_topbar_imagen {
    @apply cursor-pointer mt-2
  }

  .dashboard_topbar_menucuenta {
    @apply bg-gray-200 rounded-lg m-4 fixed right-0 shadow-lg text-black border border-gray-200 text-center cursor-pointer
  }

  .dashboard_children {
    @apply p-8 h-full;
  }

  .dashboard_header {
    @apply /*bg-amber-500*/ w-full h-20 text-center font-light text-3xl p-3 border-y-2
  }

  .sidebar {
    @apply w-full p-3 shadow-lg
  }

  .sidebar_menu {
    @apply m-2 text-gray-600
  }

  .sidebar_item {
    @apply /*bg-gray-200*/ p-3 cursor-pointer flex hover:text-blue-400 hover:font-bold
  }

  .sidebar_submenu {
    @apply /*bg-gray-300*/ mx-3;
  }

  .sidebar_subitem {
    @apply p-3 cursor-pointer hover:text-blue-400 hover:font-bold
  }

  .sidebar_icons {
    @apply w-1/6 text-xl mr-2
  }


}

/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/
